body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
}

#progress-bar {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.step {
    padding: 5px 10px;
    border-bottom: 3px solid lightgray;
    color: gray;
}

.completed {
    color: black;
    border-bottom: 3px solid black;
}

.active {
    color: black;
    border-bottom: 3px solid black;
    font-weight: bold;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.visit-type-tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.visit-type-tabs button {
    flex: 1;
    padding: 10px;
    border: none;
    background: #e0e0e0;
    color:black;
    cursor: pointer;
}

.visit-type-tabs button.active {
    background: black;
    color: white;
}

.form-container {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
}

input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


button {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

